<!DOCTYPE html><head>
<title>https://babylonehy.github.io - 网站地图</title>
<meta http-equiv="Content-type" content="text/html;" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<style>a:link{text-decoration: none;}a:visited{text-decoration:none;}a:active{text-decoration:none;}
body{font-family: Arial, "微软雅黑";font-size: 13px;}
ul, li{margin:0px; padding:0px; list-style:none;}ul{width:90%;margin-left: auto;margin-right: auto;}.title{width:100%;font-size: 18px;text-align: center;}
.lks a {font-size:13px;border:1px solid #e4e4e4;width:150px;height:30px;line-height:30px;float:left;padding-left:5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.lks span {font-size:10px;width:40px;background-color:#e4e4e469;margin-bottom:3px;text-align:center;border-left:1px solid #e4e4e4;float:left;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;}
h2,h5{margin:5px}.lks {line-height:30px;font-size:16px;height:32px;width:200px;text-align:left;float:left;margin-bottom:3px;}
@media only screen and (max-width: 720px){.lks{width: 50%;}.lks a{width: 60%;}}</style>
</head><body align="center"><div style="display: table;width: 100%;max-width: 1130px;margin: auto;">
<ul><li class="title"><h2>
<img src="https://babylonehy.github.io/favicon.ico" style="max-height:30px;max-width:30px;vertical-align: sub;margin-right: 15px;">babylonehy.github.io</h2>
<h5>网站地图(2020-03-05 00:20:10)</h5></li>
<li class="lks"><span>1</span><a href="https://babylonehy.github.io/" title="XiangLi(Sean)" target="_blank">XiangLi(Sean)</a></li>
<li class="lks"><span>2</span><a href="https://babylonehy.github.io/resume/" title="Resume" target="_blank">Resume</a></li>
<li class="lks"><span>3</span><a href="https://babylonehy.github.io/projects" title="Projects" target="_blank">Projects</a></li>
<li class="lks"><span>4</span><a href="https://babylonehy.github.io/Honeylodge/" title="Honeylodge" target="_blank">Honeylodge</a></li>
<li class="lks"><span>5</span><a href="https://babylonehy.github.io/archive" title="Archive" target="_blank">Archive</a></li>
<li class="lks"><span>6</span><a href="https://babylonehy.github.io/tags" title="Tags" target="_blank">Tags</a></li>
<li class="lks"><span>7</span><a href="https://babylonehy.github.io/about" title="About" target="_blank">About</a></li>
<li class="lks"><span>8</span><a href="https://github.com/babylonehy" title="GitHub" target="_blank">GitHub</a></li>
<li class="lks"><span>9</span><a href="https://babylonehy.github.io/Ubntu-For-Surface/" title="InstallNvidiaDriverForUbuntu16.04onSufacebook2" target="_blank">InstallNvidiaDriverForUbuntu16.04onSufacebook2</a></li>
<li class="lks"><span>10</span><a href="https://babylonehy.github.io/tags" title="Ubuntu16.04" target="_blank">Ubuntu16.04</a></li>
<li class="lks"><span>11</span><a href="https://babylonehy.github.io/tags" title="Surface" target="_blank">Surface</a></li>
<li class="lks"><span>12</span><a href="https://babylonehy.github.io/tags" title="SurfaceKernel" target="_blank">SurfaceKernel</a></li>
<li class="lks"><span>13</span><a href="https://babylonehy.github.io/tags" title="DNN" target="_blank">DNN</a></li>
<li class="lks"><span>14</span><a href="https://babylonehy.github.io/Ubntu-For-Surface/" title="ReadMore" target="_blank">ReadMore</a></li>
<li class="lks"><span>15</span><a href="https://babylonehy.github.io/Movies-List/" title="MovieList" target="_blank">MovieList</a></li>
<li class="lks"><span>16</span><a href="https://babylonehy.github.io/tags" title="Movies" target="_blank">Movies</a></li>
<li class="lks"><span>17</span><a href="https://babylonehy.github.io/tags" title="Reading" target="_blank">Reading</a></li>
<li class="lks"><span>18</span><a href="https://babylonehy.github.io/Movies-List/" title="ReadMore" target="_blank">ReadMore</a></li>
<li class="lks"><span>19</span><a href="https://babylonehy.github.io/Split-screen/" title="Splitscreen" target="_blank">Splitscreen</a></li>
<li class="lks"><span>20</span><a href="https://babylonehy.github.io/tags" title="Surface" target="_blank">Surface</a></li>
<li class="lks"><span>21</span><a href="https://babylonehy.github.io/Split-screen/" title="ReadMore" target="_blank">ReadMore</a></li>
<li class="lks"><span>22</span><a href="https://babylonehy.github.io/book-list/" title="ReadingList" target="_blank">ReadingList</a></li>
<li class="lks"><span>23</span><a href="https://babylonehy.github.io/tags" title="Book" target="_blank">Book</a></li>
<li class="lks"><span>24</span><a href="https://babylonehy.github.io/tags" title="Reading" target="_blank">Reading</a></li>
<li class="lks"><span>25</span><a href="https://babylonehy.github.io/book-list/" title="ReadMore" target="_blank">ReadMore</a></li>
<li class="lks"><span>26</span><a href="https://babylonehy.github.io/Optimisation-Minizinc/" title="Minizinc" target="_blank">Minizinc</a></li>
<li class="lks"><span>27</span><a href="https://babylonehy.github.io/tags" title="Minizinc" target="_blank">Minizinc</a></li>
<li class="lks"><span>28</span><a href="https://babylonehy.github.io/tags" title="Optimisation" target="_blank">Optimisation</a></li>
<li class="lks"><span>29</span><a href="https://people.eng.unimelb.edu.au/pstuckey/COMP90046/lec/s7_search.pdf" title="HowcanwecontrolthesearchinafinitedomainprogrammingsolverReadMore" target="_blank">HowcanwecontrolthesearchinafinitedomainprogrammingsolverReadMore</a></li>
<li class="lks"><span>30</span><a href="https://babylonehy.github.io/DNN-Acticate-Funtion/" title="ActicateFuntion" target="_blank">ActicateFuntion</a></li>
<li class="lks"><span>31</span><a href="https://babylonehy.github.io/tags" title="ActicateFuntion" target="_blank">ActicateFuntion</a></li>
<li class="lks"><span>32</span><a href="https://babylonehy.github.io/tags" title="DNN" target="_blank">DNN</a></li>
<li class="lks"><span>33</span><a href="https://www.cnblogs.com/pinard/p/6437495.html" title="深度神经网络（DNN）损失函数和激活函数的选择" target="_blank">深度神经网络（DNN）损失函数和激活函数的选择</a></li>
<li class="lks"><span>34</span><a href="https://www.cnblogs.com/pinard/p/6422831.html" title="深度神经网络（DNN）反向传播算法(BP)" target="_blank">深度神经网络（DNN）反向传播算法(BP)</a></li>
<li class="lks"><span>35</span><a href="https://babylonehy.github.io/https:/...%20%20%20%20%20%20%3C/div%3E%20%20%20%20%20%20%3Ca%20href=" title="ReadMore" target="_blank">ReadMore</a></li>
<li class="lks"><span>36</span><a href="https://babylonehy.github.io/Install/" title="JuypterMemo" target="_blank">JuypterMemo</a></li>
<li class="lks"><span>37</span><a href="https://babylonehy.github.io/tags" title="juypter" target="_blank">juypter</a></li>
<li class="lks"><span>38</span><a href="https://babylonehy.github.io/Install/" title="ReadMore" target="_blank">ReadMore</a></li>
<li class="lks"><span>39</span><a href="https://github.com/babylonehy" title="GitHub" target="_blank">GitHub</a></li>
<li class="lks"><span>20</span><a href="https://help.bj.cn" title="网络地图 Sitemap" target="_blank">网络地图 Sitemap</a></li>
</ul></div><br><br><br><br><br><br></body></html>
